body{
        font-family: 'Times New Roman', Times, serif;
		font: size 14pt;
		margin:3px;
		}
		#laporan{
		color:black;
		padding:6px 2px;
		}
		#laporan table{
		border-collapse:collapse;
		border: 1px solid;
		font-size:11px;
		}
		#laporan table th{
		background:F1E7E8;
		font-weight:bold;
		vertical-align:middle;
		}

		#laporan table td{
		background:c8bfbf;
		}

		#laporan table bp{
		border:black;
		}
		.pagebreak{
		visibility:visible;
		page-break-after:always;
		}
		.garis{
			border:solid 1px;
		}
		.nongaris{
			border: none;
		}